$font_family_Aleo_Regular: "Aleo Regular", Arial, Helvetica, sans-serif;
$font_family_Josefin_Sans_Bold: "Josefin Sans Bold", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font_family_Josefin_Sans_Regular: "Josefin Sans Regular", Georgia, 'Times New Roman', Times, serif;
$background_image_linear_gradient: linear-gradient(44deg, #3677fd 4%, #2f89ff 37%, #318eff 37%, #318eff 40%, #318eff 60%, #318eff 60%, #327dfe 75%);