@import "__mixins";
@import "__vars";

.steps {
    background: url(../img/background-steps.svg) no-repeat;
    background-size: cover;
    height: 340px;

    @media screen and (max-width: 850px) {
        height: 100%;
        padding: 20px 0;
    }

    &__content {
        
        @include FlexSpaceBetween();
        width: 975px;
        max-width: 100%;
        margin: 0 auto;
        padding: 114px 0;
        position: relative;
        height: 100%;
        font-family: $font_family_Aleo_Regular;
        font-size: 34px;

        @media screen and (max-width: 850px) {
            flex-direction: column;
            padding: 0;
            font-size: 20px;
        }
    }

    &__lines {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
        width: 850px;

        @media screen and (max-width: 850px) {
            display: none;
        }
    }

    &__block {
        text-align: center;
        background: #333;
        z-index: 2;
        padding-top: 10px;

        @media screen and (max-width: 850px) {
            padding: 30px;
        }

        .block {

            &__text {
                padding-top: 20px;
            }

            &__img:hover {
                transition: 0.7s;
                transform: rotate(360deg);
            }
        }
    }
}