@import "fonts";
@import "welcome";
@import "menu";
@import "whyChooseUs";
@import "steps";
@import "villa";
@import "island";
@import "reviews";
@import "footer";
@import "__normalize";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    border: 15px solid #fff;
    color: #fff;

    @media screen and (max-width: 500px){
       border: 0;
    }
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}